<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="registration" class="row clearfix well well-lg">
	<div class="col-md-12 panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Registration&nbsp;&nbsp;&nbsp;<small>Please enter test data for creating the account</small>
            </h3>
        </div>
        <div class="panel-body">
		<form action="#" th:action="@{/registration}" method="post" class="form-horizontal" th:object="${registration}">
            <div id="registration-error" class="hide col-md-8 alert alert-block alert-error fade in">
				<a data-dismiss="alert" class="close">x</a>
				<h4 class="alert-heading"></h4>
				<p></p>
			</div>
			<div class="col-md-12">
				<div id="fullname-control" class="form-group">
                    <div class="col-sm-3">
					    <label for="email-input" class="control-label">Email:</label>
                    </div>
					<div class="col-sm-9">
						<input type="email" value="" id="email-input" class="form-control" th:field="*{email}" />
						<br/>
						<span id="emailError" class="help-inline hide">Email error</span>
					</div>
				</div>
				<div class="form-group">
                    <div class="col-sm-3">
                        <label for="given-names-input" class="control-label">Given Names:</label>
                    </div>
					<div class="col-sm-9">
						<input type="text" value="" id="given-names-input" class="form-control focused" th:field="*{givenNames}" />
                        <br/> <span id="givenNamesErrors" class="help-inline hide">GivenNames Error</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="surname-input" class="control-label">Surname:</label>
					</div>
					<div class="col-sm-9">
						<input type="text" value="" id="surname-input" class="form-control focused" th:field="*{surname}" />
						<br/> <span id="surnameErrors" class="help-inline hide">Surname Error</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label for="password-input" class="control-label">Password:</label>
					</div>
					<div class="col-sm-9">
						<input type="password" id="password-input" class="form-control focused" th:field="*{password}"/>
						<br/> <span id="password-error" class="help-inline hide">Password error</span>
					</div>
				</div>
				<div  class="form-group">
                    <div class="col-sm-3">
                        <label for="confirm-input" class="control-label">Password Confirm:</label>
                    </div>
					<div class="col-sm-9">
						<input type="password" id="confirm-input" class="form-control focused" th:field="*{confirmPassword}"/>
                        <br/> <span id="matchpasswd-error" class="help-inline hide">Password Confirmation error</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-actions col-md-offset-4 col-md-4">
					<button id="registrationBtn" class="btn btn-success">Register</button>
				</div>
			</div>
		</form>
        </div>
	</div>
</div>

</html>
