<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<title>Spring Trader - Open Account</title>
<div th:include="fragments/header_fragment :: header-includes" th:remove="tag"></div>
</head>
<body>
    <div th:include="fragments/navbar_fragment :: navbar" class="navbar navbar-inverse navbar-fixed-top"/>
	<div class="container well well-lg">
		<div th:include="fragments/message :: successMessage" th:remove="tag"></div>
		<div th:include="fragments/message :: errorMessage" th:remove="tag"></div>
		<div th:include="fragments/accounts_fragment :: account-create"></div>
	</div>
	<div th:include="fragments/quote_attribution_fragment :: quote_attribution"></div>
</body>
</html>